<%= form_with(model: article, local: true) do |form| %>
    <% if article.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">close</span>
      </button>
        <p><%= pluralize(article.errors.count, "error") %> prohibited this subcontent from being saved:</p>
        <ul>
          <% article.errors.full_messages.each do |message| %>
            <li><h6><%= message %></h6></li>
          <% end %>
        </ul>
    </div>
    <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :summary %>
    <%= form.text_area :summary, class:"form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field form-group">
    <%= form.label :categories %><br>
     <%= form.collection_check_boxes :category_ids, Category.all, :id, :category_name do |cb| %>
     <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
    <% end %>
  </div>


  <div class="actions">
    <%= form.submit :class => "btn btn-outline-secondary" %>
  </div>
<% end %>
