<p id="notice"><%= notice %></p>
<div class="text-center">
  <h1>Articles</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <% if user_signed_in? && current_user.admin == true %>
      <th>#</th>
      <% end %>
      <th>Title</th>
      <th>Summary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <% if user_signed_in? && current_user.admin == true %>
        <td><%= article.id %></td>
        <% end %>
        <td><%= article.title %></td>
        <td><%= article.summary %></td>
        <td><%= link_to 'Show', article, class:"btn btn-outline-success" %></td>
        <% if user_signed_in? && current_user.admin == true %>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? && current_user.admin == true %>
  <%= link_to 'New Article', new_article_path %>
<% end %>
