<p id="notice"><%= notice %></p>

<div class="text-center">
<p>
  <h1><%= @article.title %></h1>
</p>
<% if Like.find_by(user_id: current_user.id, article_id: @article.id) %>
<p>
  <%= link_to "Already Liked!","/deletelist/#{@article.id}" ,method: :post, class:"btn btn-secondary text-light" %>
</p>
<% else %>
<p>
  <%= link_to "Add to Mylist","/addlist/#{@article.id}" ,method: :post, class:"btn btn-outline-primary" %>
</p>
<% end %>


<%= image_tag @article.image.to_s %></br>
  <div class="category_links">
    <% @article.categories.each do |c| %> <%= link_to c.category_name, category_path(c), class:"btn btn-outline-success" %> <% end %>
  </div>
</div>
<p>
  <% @article.subcontents.each do |s| %>
    <h5><%= s.name %></h5>
    <hr color="#000000" width="100%">

    <% if s.subcontent_type == true %>
      <div class="shadow-none p-3 mb-5 bg-dark rounded text-light"><%= s.content %></div>
    <% else %>
      <div class="shadow-none p-3 mb-5 bg-light rounded"><%= s.content %></div>
    <% end %>
  <% end %>
</p>

<% if user_signed_in? && current_user.admin == true %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
