<div class="text-center">
    <div class="home-top-wrapper">
      <h1>Learn Coding and Travel around the World</h1>
    </div>
</div>

<div class="text-center top-middle-wrapper">

  <% if !user_signed_in? %>
  <div class="intro-title"><h1 class="display-4">Code Around the Worldへようこそ！</h1></div>
  <p class="lead">このサイトは、初心者がウェブ開発を学ぶためのオンラインスクールです。</p>
  <p class="lead">知識０から実際のウェブアプリを作れるようになれます。</p>
  <p class="lead">プログラミングは全世界共通の言語です</p>
  <p class="lead">プログラミングを学び、世界への扉を開きましょう！</p>
  <hr class="my-4">
  <h4 class="regis-line">無料会員登録はこちら</h4>
  <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
    Signup
  </button>
  <div class="row card-deck">
       <div class="show_hero col col-sm-4 mx-auto" >
          <%= image_tag HomeIcon.first.icon_iamge.to_s, class:"card-img-top" %>
           <div class="hero_content">
              <a href="/test/1/1">
                <%= HomeIcon.first.icon_name %></br>
              Click Here!
              </a>
           </div>
       </div>
 </div>
  <% else %>
    <div class="row card-deck">
      <% @home_icons.each do |home_icon| %>
         <div class="show_hero col col-sm-4" >
            <%= image_tag home_icon.icon_iamge.to_s, class:"card-img-top" %>
             <div class="hero_content">
                <a href="<%= "/test/#{home_icon.level_id}/1" %>">
                  <%= home_icon.icon_name %></br>
                Click Here!
                </a>
             </div>
         </div>
       <% end %>
   </div>
 <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Signup for Free</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group"><%= f.label :email %><br />
          <%= f.email_field :email, class:"form-control" %></div>

          <div class="form-group"><%= f.label :name %><br />
          <%= f.text_field :name, class:"form-control"  %></div>

          <div class="form-group"><%= f.label :password %><br />
          <%= f.password_field :password, class:"form-control"  %></div>

          <div class="form-group"><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class:"form-control"  %></div>

          <div class="form-group"><%= f.submit "Sign up" ,class:"btn btn-outline-primary" %></div>
          <div class="form-group">
          <a href="/users/auth/google_oauth2">
          <p>Sign up with Google
          <i class="fab fa-google"></i>
          </p>
          </a>
          </div>
          <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>
