<%= form_with(model: category, local: true) do |form| %>
    <% if category.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">close</span>
      </button>
        <p><%= pluralize(category.errors.count, "error") %> prohibited this subcontent from being saved:</p>
        <ul>
          <% category.errors.full_messages.each do |message| %>
            <li><h5><%= message %></h5></li>
          <% end %>
        </ul>
    </div>
    <% end %>

  <div class="field">
    <%= form.label :category_name %>
    <%= form.text_field :category_name, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
