<p id="notice"><%= notice %></p>

<p>
  <strong>Category name:</strong>
  <%= @category.category_name %>
</p>

<p>
  <strong>Articles</strong>
  <% @category.articles.each do |a| %>
    <%= link_to a.title, article_path(a), class:"btn btn-outline-success" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
