<%= form_with(model: subcontent, local: true) do |form| %>
  <% if subcontent.errors.any? %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">close</span>
    </button>
      <p><%= pluralize(subcontent.errors.count, "error") %> prohibited this subcontent from being saved:</p>

      <ul>
        <% subcontent.errors.full_messages.each do |message| %>
          <li><h5><%= message %></h5></li>
        <% end %>
      </ul>
  </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :subcontent_type %>
    <%= form.check_box :subcontent_type %>
  </div>

  <div class="field form-group">
    <%= form.label :article_id %>
    <%= form.number_field :article_id %>
  </div>

  <div class="field form-group">
    <%= form.label :sub_order %>
    <%= form.number_field :sub_order %>
  </div>

  <div class="field form-group">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="field form-group">
    <%= form.label :tips %>
    <%= form.text_field :tips, class:"form-control" %>
  </div>


  <div class="actions">
    <%= form.submit :class=> "btn btn-outline-secondary" %>
  </div>
<% end %>
