<%= form_with(model: subcontent, local: true) do |form| %>
  <% if subcontent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subcontent.errors.count, "error") %> prohibited this subcontent from being saved:</h2>

      <ul>
        <% subcontent.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :subcontent_type %>
    <%= form.check_box :subcontent_type %>
  </div>

  <div class="field form-group">
    <%= form.label :article_id %>
    <%= form.number_field :article_id %>
  </div>

  <div class="field form-group">
    <%= form.label :sub_order %>
    <%= form.number_field :sub_order %>
  </div>

  <div class="field form-group">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit :class=> "btn btn-outline-secondary" %>
  </div>
<% end %>
